.boton-contenedor {
  display: flex;
  flex: 1 1;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  background-color: rgb(9, 3, 25);
  color: rgb(254, 254, 254);
  border: 3px solid rgb(31, 31, 46);
  cursor: pointer;
  padding: 2%;
}

@media (max-width: 425px) {
  .boton-contenedor {
    font-size: 30px;
    padding: 3%;
  }
}

.operador {
  color: rgb(111, 53, 46);
}

.operador:hover {
  border: 1px solid white;
}

.boton-contenedor:hover {
  border: 1px solid white;
}
