/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.App {
  height: auto;
  background-color: rgb(8, 5, 16);
  font-family: 'roboto', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
  background-color: rgb(8, 5, 16);
}

.contenedor-calculadora {
  width: 30%;
  padding: 1%;
  background-color: rgb(31, 31, 46);
}

@media (max-width: 1800px) {
  .contenedor-calculadora {
    width: 45%;
  }
}

@media (max-width: 1147px) {
  .contenedor-calculadora {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .contenedor-calculadora {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .contenedor-calculadora {
    width: 95%;
    min-height: 67vh;
  }
}

.fila {
  display: flex;
  align-items: center;
  justify-content: center;
}
